body {
	background-color: #222;
}

#loader {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #FFF;
	z-index: 100;
	video {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -150px;
		margin-top: -150px;
	}
}


.wrapper1 {
	display: block;
	width: 90%;
	float: left;
	}

.wrapper2 {
	display: block;
	width: 10%;
	float: left;
	}
