<!-- The top of file index.html -->
<html>

<head>
<title>StumbleTube - Homepage</title>

<link rel="stylesheet" type="text/css" href="css/zocial.css" />
<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>

</head>
  <body>
      
      <center> <video style="padding-top: 120px;" id="bgv" class="fillWidth" onloadeddata="var video = this; setTimeout(function() { video.play(); }, 1000)">
        <source src="img/stumble.mp4" type='video/mp4' />
        <source src="img/stumble.oggtheora.ogv" type="video/ogg"/>
        <source src="img/stumble.webmsd.webm" type="video/webm"/>
      </video> <center>
      <a href="{{ loginurl }}" class="zocial google">Sign in with Google</a>
  </body>
<!-- ... -->
</html>