<!-- The top of file index.html -->
<html>

<head>
<title>StumbleTube - Homepage</title>

<link rel="stylesheet" type="text/css" href="css/zocial.css" />
<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>

</head>
  <body>
      
      <center>
	  
	  <video style="padding-top: 120px;" id="bgv" class="fillWidth" onloadeddata="var video = this; setTimeout(function() { video.play(); }, 1000)">
        <source src="img/stumble.mp4" type='video/mp4' />
        <source src="img/stumble.oggtheora.ogv" type="video/ogg"/>
        <source src="img/stumble.webmsd.webm" type="video/webm"/>
      </video>
	  
	  <br>
      <a href="{{ loginurl }}" class="zocial google">Sign in with Google</a>
	  
	  <font size="5">
	  
	  <p>Created in 24 hours for the 2013
	  <a href='https://www.facebook.com/events/152339121642221/'>Facebook NorCal Hackathon</a></p>
	  
	  <p>
	  Authors:
	  <a href="http://www.varunramesh.net/">Varun Ramesh</a>,
	  <a href="http://lauises.pan.sg/">Lauises Puah</a>,
	  <a href="http://www.linkedin.com/pub/orion-oulun-zhao/24/a7/84">Orion Zhao</a>,
	  <a href="http://www.linkedin.com/in/aaronrossbrown">Aaron Brown</a>
	  </p>
	  
	  </font>
	  
	  </center>
  </body>
<!-- ... -->
</html>