<!DOCTYPE html>
<html>
<head>
  <link rel=stylesheet href="css/screen.css">
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

</head>
  <body>
    

      <div class="vidwrapper">
        <a class="full1"></a>
        <div id="player1"></div>
      </div>

      <div class="vidwrapper">
        <a class="full2"></a>
        <div id="player2"></div>
      </div>

      <div class="vidwrapper">
        <a class="full3"></a>
        <div id="player3"></div>
      </div>  

      <div class="vidwrapper">
        <a class="full4"></a>
        <div id="player4"></div>
      </div>


    <script> 
    function onYouTubeIframeAPIReady() {
        player1 = new YT.Player('player1', {
          height: '320',
          width: '480',
          videoId: '{{ videos[0] }}',
          playerVars: { 'autoplay': 1, 'controls': 0 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
        player2 = new YT.Player('player2', {
          height: '320',
          width: '480',
          videoId: '{{ videos[1] }}',
          playerVars: { 'autoplay': 1, 'controls': 0 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
        player3 = new YT.Player('player3', {
          height: '320',
          width: '480',
          videoId: '{{ videos[2] }}',
          playerVars: { 'autoplay': 1, 'controls': 0 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
        player4 = new YT.Player('player4', {
          height: '320',
          width: '480',
          videoId: '{{ videos[3] }}',
          playerVars: { 'autoplay': 1, 'controls': 0 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
      </script>

    <script src="js/stumble.js"></script>
  </body>
</html>