<!DOCTYPE html>
<html>
<head>
  <link rel=stylesheet href="css/screen.css">
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

</head>
  <body>

      <div id="loader">
      <video id="bgv" class="fillWidth" onloadeddata="var video = this; setTimeout(function() { video.play(); }, 1000)">
        <source src="img/stumble.mp4" type='video/mp4' />
        <source src="img/stumble.oggtheora.ogv" type="video/ogg"/>
        <source src="img/stumble.webmsd.webm" type="video/webm"/>
      </video>
      </div>

      <div class="vidwrapper">
        <a class="full1"></a>
        <div id="player1"></div>
      </div>

      <div class="vidwrapper">
        <a class="full2"></a>
        <div id="player2"></div>
      </div>

      <div class="vidwrapper">
        <a class="full3"></a>
        <div id="player3"></div>
      </div>  

      <div class="vidwrapper">
        <a class="full4"></a>
        <div id="player4"></div>
      </div>

      <div id="menu">
        <ul>
          <li><a href="">Normal</a></li>
          <li><a href="">Sepia</a></li>
          <li><a href="">Grayscale</a></li>
        </ul>
      </div>

      <div id="refresh"><img src="https://cdn1.iconfinder.com/data/icons/juicyfruit_by_salleedesign/256x256/refresh.png" alt=""></div>

    <script> 
    function onYouTubeIframeAPIReady() {
        player1 = new YT.Player('player1', {
          height: '320',
          width: '480',
          videoId: '{{ videos[0] }}',
          playerVars: { 'autoplay': 1, 'controls': 0 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
        player2 = new YT.Player('player2', {
          height: '320',
          width: '480',
          videoId: '{{ videos[1] }}',
          playerVars: { 'autoplay': 1, 'controls': 0 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
        player3 = new YT.Player('player3', {
          height: '320',
          width: '480',
          videoId: '{{ videos[2] }}',
          playerVars: { 'autoplay': 1, 'controls': 0 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
        player4 = new YT.Player('player4', {
          height: '320',
          width: '480',
          videoId: '{{ videos[3] }}',
          playerVars: { 'autoplay': 1, 'controls': 0 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
      </script>

	  <script src="/socket.io/socket.io.js"></script>
	  <script>
  var socket = io.connect( '{{ APP_URL }}' );
  
  socket.on('newvideos', function(data){
		player1.loadVideoById( data.videos[0] );
		player2.loadVideoById( data.videos[1] );
		player3.loadVideoById( data.videos[2] );
		player4.loadVideoById( data.videos[3] );
	});

</script>
	  
    <script src="js/stumble.js"></script>
        <script>
        setTimeout(function() {
          $("#loader").delay(3500).fadeOut(500);
        }, 3500);
    
    </script>
  </body>
</html>