<!DOCTYPE html>
<html>
	<head>
		<title>StumbleTube</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	
	
	<script src="/socket.io/socket.io.js"></script>
	<script>
	var socket = io.connect( '{{ APP_URL }}' );

	var sessionID = '{{ sessionID }}';

	function refresh() {
		 socket.emit("refresh", { sessionID : sessionID });
	}

	function pickvideo(i) {
		 socket.emit("pickvideo", { sessionID : sessionID, i : i });
	}

	function likevideo() {
		 socket.emit("likevideoRemote", { sessionID : sessionID });
	}

	function dislikevideo() {
		 socket.emit("dislikevideoRemote", { sessionID : sessionID });
	}
	</script>

	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">StumbleTube</a>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="btn-group btn-group-lg btn-group-justified">
					<a onclick="pickvideo(1)" class="btn btn-default">Video 1</a>
					<a onclick="pickvideo(2)" class="btn btn-default">Video 2</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="btn-group btn-group-lg btn-group-justified">
					<a onclick="pickvideo(3)" class="btn btn-default">Video 3</a>
					<a onclick="pickvideo(4)" class="btn btn-default">Video 4</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="btn-group btn-group-lg btn-group-justified">
					<a onclick="likevideo()" class="btn btn-default">Like</a>
					<a onclick="refresh()" class="btn btn-default">Refresh</a>
				</div>
			</div>
		</div>
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>